<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
<script type="text/javascript" src='<%= url 'dashboard.js' %>'></script>
<title>Split</title>

</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Rightchoice Dashboard</h1>
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <div class="form-stacked">
      <div id="footer" class="actions">
        <p>Powered by <a href="http://github.com/andrew/split">Split</a> v<%=Split::VERSION %></p>
      </div>
    </div>
  </div>
</body>
</html>
